<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- 扫描属性文件 -->
    <properties resource="db.properties"/>

    <settings>
        <!-- 下划线自动转驼峰 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <plugins>
        <plugin interceptor="com.hoby.plugin.ExamplePlugin">
            <property name="key1" value="value1"/>
            <property name="key2" value="value2"/>
        </plugin>
    </plugins>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!-- POOLED是mybatis提供的一个同步、线程安全的数据库连接池 -->
            <dataSource type="POOLED">
                <property name="driver" value="${mysql.driverClass}"/>
                <property name="url" value="${mysql.jdbcUrl}"/>
                <property name="username" value="${mysql.user}"/>
                <property name="password" value="${mysql.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!-- 1、必须保证接口名（例如IUserDao）和xml名（IUserDao.xml）相同，还必须在同一个包中 -->
        <package name="com.hoby.mapper"/>

        <!-- 2、不用保证同接口同包同名 -->
        <!-- <mapper resource="com/mybatis/mappers/EmployeeMapper.xml"/> -->

        <!-- 3、保证接口名（例如IUserDao）和xml名（IUserDao.xml）相同，还必须在同一个包中 -->
        <!-- <mapper class="com.mybatis.dao.EmployeeMapper"/> -->

        <!-- 4、不推荐：引用网络路径或者磁盘路径下的sql映射文件 file:///var/mappers/AuthorMapper.xml -->
        <!-- <mapper url="file:E:/Study/myeclipse/_03_Test/src/cn/sdut/pojo/PersonMapper.xml"/> -->
    </mappers>

</configuration>
